body {
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
}
body {
  display: flex;
}
.me p,
.contact,
.link,
.stylelogo,
.profession,
.yearsjob,
.graduateyears,
.paddingleftul,
.ulrecommendation {
  color: #404040;
}
.CVleft {
  background-color: #039be5;
  width: 32%;
}
.photo {
  border: 4px solid #01579b;
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lefttitle {
  text-align: center;
  background-color: #424242;
  color: #039be5;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.5em;
}
.contact ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.link {
  text-decoration: none;
}
.me {
  height: 720px;
}
.me p {
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 30px;
  margin-bottom: auto;
  text-align: justify;
}
.logo {
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  padding-top: 0.8em;
}
.stylelogo {
  text-align: center;
  font-size: 2.9em;
  border: 1.5px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.cvright {
  margin-left: 60px;
  margin-right: 50px;
  width: 68%;
}
.forname {
  text-transform: uppercase;
  font-size: 3.9em;
  margin-top: 120px;
  margin-bottom: 0px;
}
.colorforname {
  color: #039be5;
}
.name {
  font-weight: normal;
}
.profession {
  margin-top: 0px;
  font-size: 2em;
  margin-bottom: 1px;
}
.underline {
  width: 85px;
  background-color: #039be5;
  height: 2px;
}
.formation {
  margin-top: 140px;
}
.titleright {
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: solid #039be5;
  border-width: 3px;
  padding-bottom: 15px;
}
.yearsjob {
  display: inline-block;
}
.icone {
  color: #039be5;
  font-size: 1.4em;
  margin-right: 40px;
}
.stylepuce {
  padding-right: 20px;
  color: #039be5;
  font-size: 0.8em;
  display: inline-block;
}
h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 15px;
}
h4 {
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}
.paragraphe {
  margin-top: 10px;
  text-align: justify;
  font-weight: normal;
}
.styleul {
  padding-left: 0px;
  width: 33%;
  font-weight: bold;
  float: left;
}
.styleulformation {
  padding-left: 0px;
  font-weight: bold;
  width: 33%;
  float: left;
}
.articleformation {
  width: 66%;
}
.graduateyears {
  display: inline-block;
}
.recommendation,
.namerecommendation {
  font-weight: bold;
}
.namerecommendation {
  padding-bottom: 10px;
  text-transform: uppercase;
}
.yearsformation {
  padding-bottom: 15.5em;
}
.city {
  padding-left: 38px;
}
.yearswork {
  padding-bottom: 86px;
}
.paddingleftul {
  padding-left: 0px;
  display: inline-block;
  margin-right: 11em;
}
.ulrecommendation {
  display: inline-block;
}
.professionalexperiencearticle {
  width: 66%;
}
@media screen and (max-width: 1024px) {
  .photo {
    width: 90%;
  }
  .paddingleftul {
    margin-right: 0px;
  }
  .yearsformation {
    padding-bottom: 24.5em;
  }
}
@media screen and (min-width: 840px) {
  .photoresponsive {
    display: none;
  }
  .yearsresponsive {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .CV {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .CVleft {
    order: 2;
    display: flex;
    flex-direction: column;
  }
  .CVleft,
  .cvright {
    width: auto;
  }
  .formation {
    margin-top: 20px;
  }
  .photoresponsive {
    margin-top: 30px;
    border: 4px solid #01579b;
    border-radius: 50%;
  }
  .photo {
    display: none;
  }
  h2 {
    margin-top: 0px;
  }
  .nom,
  h2,
  .paddingleftul,
  .ulrecommendation,
  .me p,
  ul {
    text-align: center;
  }
  .underline {
    display: none;
  }
  .me {
    height: auto;
  }
  .forname {
    font-size: 3em;
    margin-top: 10px;
  }
  .contact li {
    display: inline-block;
    text-align: center;
    margin-right: 28px;
  }
  .me,
  .leisure {
    margin-bottom: 25px;
  }
  .styleul,
  .styleulformation {
    display: none;
  }
  .paragraphe {
    text-align: center;
  }
  .yearsresponsive {
    font-weight: bold;
  }
  .titleright {
    font-size: 1.5em;
  }
  .paddingleftul {
    margin-right: 2em;
  }
  .city {
    padding-left: 0em;
  }
}
@media screen and (max-width: 630px) {
  .photoresponsive {
    width: 60%;
  }
  .ulrecommendation {
    padding-left: 0em;
    margin-left: 0em;
  }
  .paddingleftul {
    padding-left: 0em;
    margin-left: 1.9em;
  }
  header {
    font-size: 0.5em;
  }
}
