.CV {
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
}
.CV,
.yearsjob,
.graduateyears {
  display: flex;
}
.me p,
.contact,
.campground,
.mountain,
.biking,
.profession,
.yearsjob,
.graduateyears,
.paddingleftul {
  color: #404040;
}
.CVleft {
  background-color: #039be5;
  width: 400px;
}
.blockphoto {
  text-align: center;
  margin-top: 65px;
}
.photo {
  border: 4px solid #01579b;
  border-radius: 50%;
}
.lefttitle {
  text-align: center;
  background-color: #424242;
  color: #039be5;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 25px;
}
.contact ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.me {
  height: 720px;
}
.me p {
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 30px;
  margin-bottom: auto;
  text-align: justify;
}
.logo {
  display: flex;
  justify-content: space-around;
  margin-top: 33px;
}
.campground,
.mountain,
.biking {
  text-align: center;
  font-size: 45px;
  border: 1px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.cvright {
  margin-left: 60px;
  margin-right: 50px;
  width: 850px;
}
.forname {
  text-transform: uppercase;
  font-size: 60px;
  margin-top: 120px;
  margin-bottom: 0px;
}
.colorforname {
  color: #039be5;
}
.name {
  font-weight: normal;
}
.profession {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 1px;
}
.underline {
  width: 85px;
  background-color: #039be5;
  height: 2px;
}
.formation {
  margin-top: 140px;
  margin-bottom: 0px;
}
.titleright {
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: solid #039be5;
  border-width: 3px;
  padding-bottom: 15px;
}
.icone {
  color: #039be5;
  font-size: 40px;
  margin-right: 40px;
}
.stylepuce {
  padding-right: 20px;
  color: #039be5;
  font-size: 12px;
  display: inline-block;
}
h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 15px;
}
h4 {
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}
.paragraphe {
  margin-top: 10px;
  text-align: justify;
  font-weight: normal;
}
.styleul {
  padding-left: 0px;
  width: 520px;
  font-weight: bold;
}
.styleulformation {
  padding-left: 0px;
  width: 2500px;
  font-weight: bold;
}
.recommendation,
.namerecommendation {
  font-weight: bold;
}
.namerecommendation {
  padding-bottom: 10px;
  text-transform: uppercase;
}
.yearsformation {
  width: auto;
  padding-bottom: 230px;
}
.city {
  padding-left: 38px;
}
.yearswork {
  padding-bottom: 86px;
}
.paddingleftul {
  padding-left: 0px;
}

@media all and (min-width: 900px) {
  .photoresponsive {
    display: none;
  }
  .yearsresponsive {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .CV {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .CVleft {
    order: 2;
    display: flex;
    flex-direction: column;
  }
  .CVleft,
  .cvright {
    width: auto;
  }

  .formation {
    margin-top: 20px;
  }
  .photoresponsive {
    margin-top: 30px;
    border: 4px solid #01579b;
    border-radius: 50%;
  }
  .blockphoto {
    display: none;
  }
  h2 {
    margin-top: 0px;
  }
  .nom,
  h2,
  .paddingleftul,
  .me p,
  ul {
    text-align: center;
  }
  .underline {
    display: none;
  }
  .me {
    height: auto;
  }
  .forname,
  .name {
    font-size: 40px;
    margin-top: 10px;
  }
  .contact li {
    display: inline-block;
    text-align: center;
    margin-right: 28px;
  }
  .me,
  .leisure {
    margin-bottom: 25px;
  }
  #deuxbis,
  .styleul,
  .styleulformation {
    display: none;
  }
  .paragraphe {
    text-align: center;
  }
  .yearsresponsive {
    font-weight: bold;
  }
}

@media all and (max-width: 600px) {
  .titleright {
    font-size: 26px;
  }
}
